body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: 'Arvo', cursive;
  text-shadow: 3px 0 #da0463;
}

footer {
  color: #dbedf3;
  font-family: sans-serif;
}

.w {
}

.a {
}

.s {
}

.d {
}

.j {
}

.k {
}

.l {
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.drum:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

.pressed {
  transform: scale(0.95);
  box-shadow: 0 0 20px #da0463;
  opacity: 0.7;
  transition: all 0.1s;
}
